nav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 10px 20px;
}

.login-user-nav {
  position: relative;
}
.avatar-nav {
  width: 45px;
  border-radius: 100%;
}
.dropdown-nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  gap: 5px;
  top: 55px;
  right: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown-nav > button {
  padding: 10px;
}
.nav-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.PortFlowLogo-nav {
  width: 45px;
}
